body{
    width: 1600px;
}

header{
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    border: 1px solid blue;
    box-sizing: border-box;
}

footer{
    border: 1px solid green;
}

/* img {
    width: 270px;
    height: 260px;
} */

li {
    list-style-type: none;
}

.our-edge{
    border: 1px solid orange;
}

.whot-me-do {
    border: 1px solid;
}

.our-team {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    /* overflow:  auto;
    display: inline-block;
    float: left;
    width:  20%;
    margin: 0 auto; */
    border:  1px solid red;
}

.our-edge,
.our-team-collections,
.whot-me-do-collections {
    /* display: inline-block;
    justify-content: center;
    float: left;
    width:  25%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
